<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hola Dime a Quien Saludar</h1>
   <form action='/saludar' method="post">
      	<input type="text" name="nombre">
      	<input type="submit" value="¡Hola!">
      </form>
</body>
</html>